<!DOCTYPE html>
<html lang="en">
<head>
  <title>GeoLocation App</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body ng-app="app" class="container">

  <header id="header">
    GEOLOCATION
    <hr>
  </header>

  <!-- domain section -->
  <section id="domain-section" ng-controller="DomainLocationController" >
    <article id="domain-controls">
      <h2>Locate any <br/>website</h2>

      <form name="domainForm" class="myForm" ng-submit="getDomainLocation(hostName)" novalidate>
        <input id="host-name-input" type="text" name="hostName" ng-model="hostName" ng-pattern="/^(w{3}\.)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/" required />

        <div id="error" ng-messages="domainForm.hostName.$error" ng-if="domainForm.hostName.$touched" class="error-message">
          <div ng-message="required">This field is required</div>
          <div ng-message="pattern">Please enter a valid website domain</div>
          <div ng-if="notFound">It seems that this domain doesn't exist :( <br>Feel free to try another one!</div>
        </div>

      <button id="locate-btn" ng-disabled="domainForm.$invalid" type="submit" class="waves-effect btn primary-btn">locate</button>
      </form>
    </article>

    <article id="domain-location">
     <div id="domain-location-card" ng-show="showDomainLocation" class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <div id="domain-map"></div>
        </div>
        <div class="card-content">
          <span class="card-title activator">Website estimated location<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title">Website estimated location <br>details<i class="material-icons right">close</i></span>

          <table class="centered striped">
            <tbody>
              <tr ng-if="domainDetails.ip">
                <th>IP</th>
                <td>{{domainDetails.ip}}</td>
              </tr>
              <tr ng-if="domainDetails.zip_code">
                <th>ZIP CODE</th>
                <td>{{domainDetails.zip_code}}</td>
              </tr>
              <tr ng-if="domainDetails.city">
                <th>CITY</th>
                <td>{{domainDetails.city}}</td>
              </tr>
              <tr ng-if="domainDetails.region_name">
                <th>REGION</th>
                <td>{{domainDetails.region_name}}</td>
              </tr>
              <tr ng-if="domainDetails.region_code">
                <th>REGION CODE</th>
                <td>{{domainDetails.region_code}}</td>
              </tr>
              <tr ng-if="domainDetails.country_name">
                <th>COUNTRY</th>
                <td>{{domainDetails.country_name}}</td>
              </tr>
              <tr ng-if="domainDetails.country_code">
                <th>COUNTRY CODE</th>
                <td>{{domainDetails.country_code}}</td>
              </tr>
              <tr ng-if="domainDetails.longitude">
                <th>LOGITUDE</th>
                <td>{{domainDetails.longitude}}</td>
              </tr>
              <tr ng-if="domainDetails.latitude">
                <th>LATITUDE</th>
                <td>{{domainDetails.latitude}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </section>

    <hr id="separator">

  <!-- user section -->
  <section id="user-section" ng-controller="UserLocationController">
    <article id="user-controls">

      <h2>Find your current <br/>location</h2>

      <button ng-click="getUserLocation()" class="waves-effect waves-light btn primary-btn">my location</button>
      <button ng-click="resetUserLocation()" class="waves-effect waves-light btn secondary-btn">reset location</button>
    </article>

    <article ng-show="showUserLocation" id="user-location">
      <div class="card" >
        <div class="card-image waves-effect waves-block waves-light">
          <div id="user-map"></div>
        </div>
        <div class="card-content">
          <span class="card-title activator">User estimated location<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title">User estimated location details<i class="material-icons right">close</i></span>

          <table class="centered striped">
            <tbody>
              <tr ng-if="userDetails.ip">
                <th>IP</th>
                <td>{{userDetails.ip}}</td>
              </tr>
              <tr ng-if="userDetails.zip_code">
                <th>ZIP CODE</th>
                <td>{{userDetails.zip_code}}</td>
              </tr>
              <tr ng-if="userDetails.city">
                <th>CITY</th>
                <td>{{userDetails.city}}</td>
              </tr>
              <tr ng-if="userDetails.region_name">
                <th>REGION</th>
                <td>{{userDetails.region_name}}</td>
              </tr>
              <tr ng-if="userDetails.region_code">
                <th>REGION CODE</th>
                <td>{{userDetails.region_code}}</td>
              </tr>
              <tr ng-if="userDetails.country_name">
                <th>COUNTRY</th>
                <td>{{userDetails.country_name}}</td>
              </tr>
              <tr ng-if="userDetails.country_code">
                <th>COUNTRY CODE</th>
                <td>{{userDetails.country_code}}</td>
              </tr>
              <tr ng-if="userDetails.longitude">
                <th>LOGITUDE</th>
                <td>{{userDetails.longitude}}</td>
              </tr>
              <tr ng-if="userDetails.latitude">
                <th>LATITUDE</th>
                <td>{{userDetails.latitude}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </article>
  </section>

  <!-- JS SCRIPTS -->
  <script src="node_modules/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/location.js"></script>
  <script src="js/controllers/user.js"></script>
  <script src="js/controllers/domain.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.10/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa50Xi1viwlJTT8ybafrzTvu_AUqueEeE"></script>
</body>
</html>


