<!DOCTYPE html>
<html lang="en">
<head>
  <title>GeoLocation App</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body ng-app="app" class="container">

  <!-- user section -->
  <section id="userSection" ng-controller="UserLocationController">
    <a ng-click="getUserLocation()" class="waves-effect waves-light btn">my location</a>
    <a ng-click="resetUserLocation()" class="waves-effect waves-light btn">reset location</a>
  </section>

  <!-- domain section -->
  <section id="domainSection">
  </section>

  <!-- JS SCRIPTS -->
  <script src="js/node_modules/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/service.js"></script>
  <script src="js/controllers/controller.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>


