@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 640px) {

  	.container {
  margin: 25px auto !important;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6% 45% 45% 15px 45% 45%;
  grid-template-areas:
  	"header"
  	"domain-controls"
		   	"domain-location"
  	"separator"
  	"user-controls
		   	user-location"
  }
	#domain-section {
		display:grid;
		grid-template-columns: 100%;
	  	grid-template-rows: 50% 50%;
		grid-template-areas:
		   	"domain-controls"
		   	"domain-location";
	}

	#user-section {
		display:grid;
			grid-template-columns: 100%;
		  grid-template-rows: 50% 50%;

		grid-template-areas:
		   	"user-controls
		   	user-location";

		#user-controls {
			place-self: center stretch;
		}

		#user-location {
			grid-row-start: 2;
		}
	}
}

