@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400");
#user-map, #domain-map {
  height: 100%;
  width: 100%;
  background-color: transparent; }

html, body {
  height: 100%;
  background-color: #fff;
  color: #333; }

header {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
  margin: 0 auto; }
  header hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc); }

.container {
  margin: 25px auto !important;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6% 45% 15px 45%;
  grid-template-areas: "header" "domain-section" "separator" "user-section"; }
  .container h2 {
    margin-bottom: 35px;
    font-weight: 300; }
  .container #separator {
    width: 15%;
    margin: 25px 5px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .container .primary-btn, .container .secondary-btn {
    margin-top: 25px;
    height: 44px;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: lighter;
    width: 100%;
    max-width: 360px;
    border: 1px solid #333; }
  .container .btn:disabled {
    border: none; }
  .container .primary-btn {
    background-color: #333 !important;
    color: #fff; }
  .container .primary-btn:hover {
    background-color: #fff !important;
    color: #333; }
  .container .btn-primary:focus {
    background-color: #333 !important; }
  .container .secondary-btn {
    background-color: #fff !important;
    color: #333; }
  .container .secondary-btn:hover {
    background-color: #333 !important;
    color: #fff; }
  .container .btn-secondary:focus {
    background-color: #fff !important; }
  .container .error-message {
    color: #ff4a3d;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 2px;
    font-size: 12px; }

#domain-section, #user-section {
  display: grid;
  grid-template-columns: 45% auto 45%;
  grid-template-rows: 100%; }

#domain-section {
  grid-template-areas: "domain-controls domain-location"; }
  #domain-section #domain-controls {
    place-self: center stretch; }
  #domain-section #domain-location {
    grid-column-start: 3; }
  #domain-section input {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    border-bottom-color: transparent;
    height: 44px;
    padding: 3px 15px;
    vertical-align: top;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    letter-spacing: 2.5px;
    color: #6b6b6b;
    font-family: "Roboto Mono", monospace;
    width: 100%;
    max-width: 360px;
    box-sizing: border-box; }
  #domain-section input:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

#user-section {
  grid-template-areas: "user-controls . user-location"; }
  #user-section #user-controls {
    place-self: center stretch; }
  #user-section #user-location {
    grid-column-start: 3; }

.card {
  margin: 0 !important;
  top: 15px;
  height: 95%;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px; }
  .card .card-title {
    font-size: 16px !important; }
  .card .card-image {
    height: 79%; }
  .card table {
    font-size: 12px;
    margin-top: 25px; }
